.root {
  background-color: var(--primary);
  width: 93%;
  border-radius: 15px;
  margin-top: 30px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/33px Dax OT;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}

.heading {
  margin: 0;
  color: #fff;
}

.CTAContainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}